<nav class="navbar bg-body-tertiary fixed-top bg-dark border-bottom border-body mb-40" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <h3>Student Career</h3>
    </a>
    <div class="d-flex">
      {% if session.get('admin_logged_in') %}
        <a href="{{ url_for('admin_dashboard') }}" class="btn btn-outline-light me-2">Dashboard</a>
        <a href="{{ url_for('admin_logout') }}" class="btn btn-danger">Logout</a>
      {% else %}
        <a href="{{ url_for('admin_login') }}" class="btn btn-outline-light">Admin Login</a>
      {% endif %}
    </div>
  </div>
</nav>